:root {
  --orange: #FA991C;
  --darkblue: #143c53;
  --white: #fef8f8;
  --green: #1C768F;
  --red: #d65d5d;
  --gray: #e3e3e3;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
